<p>From exo</p>

<p (dblclick)="reset()" (keyup)="onKeyDown($event)" (keyup.space)="reset()" tabindex="1">Counter : {{counter}}</p>
<button (click)="increment()">Increase !</button>
<button (click)="decrement()">Decrease !</button>
<button (click)="divideByTwo()">Divide by 2 !</button>
<button (click)="multiplyByPi()">Multiply by PI !</button>
<button (click)="reset()">Reset !</button>
<br>