<div class='modal' *ngIf='modalOpen'>Contenu du paragraphe</div>
<button (click)="toggleModal()">Display</button>
<div *ngFor="let student of students ">
    <app-student-component [name]="student"></app-student-component>
</div>