<div class="dog_list">
    <!--<app-dog-component *ngFor="let item of[].constructor(100)"></app-dog-component>-->
    <app-dog-component *ngFor="let dog of dogs" [dog]="dog"></app-dog-component>
</div>