.dog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width:600px) {
    .dog_list {
        flex-direction: column;
        align-items: center;
    }
}