<p *ngFor="let item of [1,2,3,4]">coucou {{msg}}</p>
<ng-container *ngFor="let display of displays">
    <button [ngClass]="{'active': currentDisplay==display}" (click)="currentDisplay=display">{{display}}</button>
</ng-container>
<ng-container *ngIf="currentDisplay=='exo'">
    <app-exo></app-exo>
</ng-container>
<ng-container *ngIf="currentDisplay=='templating'">
    <app-templating-compenent></app-templating-compenent>
</ng-container>